.card{
    background-color: #EDEDED;

}
.card-body{
    background-color: #638EAC;
    border: none;
}
.card-header{
    color: #638EAC;
}

#collapse{
    background-color: black;
    color: white;
}
#intro{
    padding-bottom: 5em;
}
