.a{
    color: white;
}
#intro{
    padding-bottom: 3em;
}
.zoom {
    padding: 0px;
    background-color: #638EAC;
    transition: transform .2s;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
}

.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);}

#problem{
    margin-top: 40px;
    margin-bottom: 20px;
}
#solution{
    margin-top: 50px;
    margin-bottom: 50px;
}
#solutiontext{
    margin-bottom: 50px;
    margin-top: 50px;
}

#steps{
    margin-top: 50px;
}
.bild {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.overlay {
    position: absolute;
    transition: all .9s ease;
    opacity: 0;
    /*background: rgb(0, 0, 0, 0.4);*/
    background: rgb(66, 66, 66);
    border-radius: 50%
}
.bild:hover .overlay {
    opacity: 0.8;
}
.text {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
.overlayFade {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#download{
    margin-top: 50px;
}

#contactinfo{
    margin-top: 50px;
}

#contacticons{
    margin-top: 50px;
}
/* Phone pop-up*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#impressum{
    margin-top: 150px;
}